<div class="btn-group", id="day_buttons">
  <% if beginning_of_week? %>
    <button class="btn disabled">
      <i class="glyphicon glyphicon-chevron-left"></i>
      <span>Previous Day</span>
    </button>
  <% else %>
    <%= link_to roster_path(@roster, day_change: @day_change - 1, week_change: @week_change,
                            drop: @player_to_drop), class: "btn btn-default", remote: true do %>
      <i class="glyphicon glyphicon-chevron-left"></i>
      <span>Previous Day</span>
    <% end %> 
  <% end %>
  <% if end_of_week? %>
    <button class="btn disabled">
      <span>Next Day</span>
      <i class="glyphicon glyphicon-chevron-right"></i>
    </button>
  <% else %>
    <%= link_to roster_path(@roster, day_change: @day_change + 1, week_change: @week_change,
                            drop: @player_to_drop), class: "btn btn-default", remote: true do %>
      <span>Next Day</span>
      <i class="glyphicon glyphicon-chevron-right"></i>
    <% end %> 
  <% end %>
</div>