 <li class=<%= params[:tab] ? "active" : "" %>>
  <%= link_to "Edit Positions", edit_roster_path(@roster, tab: "positions"), remote: true %>
</li>
<li class=<%= params[:tab] ? "" : "active" %>>
  <%= link_to "Edit Players", edit_roster_path(@roster), remote: true %>
</li>