<p><strong>Legend:</strong></p>
<table class="legend">
  <col width="220">
  <col width="220">
  <tr>
    <td>
      <table class="table"> 
        <tr>  
          <col width="55">
          <td class="conflict-col legend"></td>
          <td class="legend">Game has Conflicts</td>
        </tr>
      </table>
    </td>
    <td>
      <table class="table"> 
        <tr>  
          <col width="55">
          <td class="current-day-col legend"></td>
          <td class="legend">Current Day</td>
        </tr>
      </table>
    </td>
  </tr>
</table>