<% team_games = 0 %>
<tr>
  <th><%= team.name %></th>
  <% for i in 0..13 %>
    <% parsed_datetime = (changed_week + i.day).beginning_of_day %>
    <% game = team.games.find_by(date: parsed_datetime) %>
    <td>
      <% if game %>
        <% team_games += 1 %>
        <%= (game.teams - [team]).first.name %>
      <% end %>
    </td>
    <% if [6,13].include?(i) %>
      <td bgcolor="#FFEBCD"><%= team_games %></td>
      <% team_games = 0 %>
    <% end %>
  <% end %>
</tr>