<div class="panel panel-default panel-hockey" id="team_table_#{table_num}">
  <table class="table table-bordered table-hover make_fixed">
    <thead>
      <tr>
        <th>Team</th>
        <% for i in 0..13 %>
          <th><%= table_time(changed_week + i.day) %></th>
          <% if [6,13].include?(i) %>
            <th bgcolor="#FFEBCD"><%= "Games" %></th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <% team_group.each do |team| %>
      <%= render 'team_table_section', team: team %>
    <% end %>
  </table>
</div>
<br>