@import 'bootstrap-sprockets';
@import 'bootstrap';

#main-container {
  padding-top: 40px;
}

.margin-bottom {
  margin-bottom: 15px;
}

#player_select {
  width: 20%;
}

#update_select {
  width: 100%;
}