@import 'bootstrap-sprockets';
@import 'bootstrap';

#main-container {
  padding-top: 40px;
}

.margin-bottom {
  margin-bottom: 15px;
}

#player_select {
  width: 20%;
}

#update_select {
  width: 100%;
}

#logged_in {
  display: inline;
}

.panel-hockey {
  overflow-x: scroll;
}

.roster-list {
  text-indent: 80px;
}

.roster-list-height {
  line-height: 50%;
}

.headcol {
  position:absolute;
  width:5em;
  left:0;
  top:auto;
  border-right: 0px none black;
  border-top-width:3px; /*only relevant for first row*/
  margin-top:-3px; /*compensate for top border*/
}

.games-col {
 bgcolor: "#FFEBCD";
}

.starts-col {
 bgcolor: "#FFF8DC"; 
}

.current-day-col {
  bgcolor: "#e5e5ff";
}

.conflict-col {
  bgcolor: "#FFFF66";
}